<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <style>
         body {
           padding-top: 4.5rem;
         }
        </style>
        <title>Stock system - New entry note</title>
    </head>
    <body>

    <div th:replace="/fragments/menu :: menu"></div>

    <div class="container">
        <div class="bg-light p-5 rounded">
                <h1>Entry notes</h1>
                <hr>
                <div>
                    <!--th:object = CREATES AN OBJECT | th:action = SPECIFIES THE URL WHERE DATA WILL BE SENT-->
                    <form th:action="@{/entry-note}" method="post">
                        <input id="id" type="hidden" th:field="*{entryNote.id}"/>
                        <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(feedback)}">
                            <span th:text="${feedback}"></span>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-3">
                                <label class="form-label" for="supplier">Supplier</label>
                                <select class="form-select" id="supplier" th:field="*{entryNote.supplier.id}">
                                    <option value="">Select a Supplier</option>
                                    <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.tradingName}"></option>
                                </select>
                                <span style="color: red" th:if="${#fields.hasErrors('entryNote.supplier')}" th:erros="*{entryNote.supplier}"></span>
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="dateTime">Purchase Date</label>
                                <input class="form-control" id="dateTime" type="datetime-local" th:field="*{entryNote.dateTime}">
                                <span style="color: red" th:if="${#fields.hasErrors('entryNote.dateTime')}" th:erros="*{entryNote.dateTime}"></span>
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="total">Total</label>
                                <input class="form-control" id="total" step="any" type="number" readonly th:field="*{entryNote.total}">
                                <span style="color: red" th:if="${#fields.hasErrors('entryNote.total')}" th:erros="*{entryNote.total}"></span>
                            </div>
                        </div>
                        <div class="mb-3" th:if="${entryNote.id != null}">
                            <a class="btn btn-sm btn-success" th:href="@{/entry-note/{id}/item(id=${entryNote.id})}">Add a product</a>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td><b>PRODUCT</b></td>
                                        <td><b>QUANTITY</b></td>
                                        <td><b>UNIT PRICE</b></td>
                                        <td><b>TOTAL PRICE</b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${entryNote.items}">
                                        <td th:text="${item.product.name}"></td>
                                        <td th:text="${item.quantity}"></td>
                                        <td th:text="${#numbers.formatDecimal(item.unitValue, 0, 'POINT', 2, 'COMMA')}"></td>
                                        <td th:text="${#numbers.formatDecimal(item.totalValue, 0, 'POINT', 2, 'COMMA')}"></td>
                                        <td>
                                            <a class="btn btn-sm btn-secondary" th:href="@{/entry-note-item/edit/{id}(id=$(item.id)}">Edit</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-secondary" th:href="@{/entry-note-item/remove/{id}(id=$(item.id)}">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="save">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script crossorigin="anonymous" referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="></script>
        <script crossorigin="anonymous" referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw=="></script>
    </body>
</html>