<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stock system</title>
    </head>
    <body>
        <div>
            <h1>Customer Data</h1>
            <hr>
            <form th:action="@{/customers}" th:object="${customer}" method="post">
                <input id="activated" type="hidden" th:field="*{id}"/>
                <div>
                    <label for="active">Active application</label>
                    <input id="active" type="checkbox" th:field="*{active}"/>
                </div>
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text" th:field="*{name}"/>
                </div>
                <div>
                    <label for="cpf">Cpf</label>
                    <input id="cpf" type="text" th:field="*{cpf}"/>
                </div>
                <div>
                    <label for="birth_date">Birth Date</label>
                    <input id="birth_date" type="date" th:field="*{birthDate}">
                </div>
                <div>
                    <label for="sex">Sex</label>
                    <select id="sex" th:field="*{sex}">
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </div>
                <div>
                    <label for="phone">Telephone</label>
                    <input id="phone" type="text" th:field="*{phone}"/>
                </div>
                <div>
                    <label for="cell">Cell Phone</label>
                    <input id="cell" type="text" th:field="*{cell}"/>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" type="text" th:field="*{email}">
                </div>
                <div>
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </body>
</html>